.shop {
  /* composes: bestProducts from '../best-products/BestProducts.module.css'; */
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
  padding: var(--space-1100);
  max-width: var(--width-content);
  margin: auto;
  /* min-height: 100svh; */
}

.subtitle {
  /* composes: subtitle from '../choose-us/ChooseUs.module.css'; */
  font-family: var(--ff-gilroy-bold);
  font-size: var(--fs-800);
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: var(--space-1200) var(--space-600);
}

.decor {
  width: var(--space-600);
  height: var(--space-1100);
  background-color: var(--clr-saddle-brown);
}

.subtitleWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-50);
}

.loaderWrapper,
.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-400);
  padding: var(--space-1200);
}

.errorWrapper {
  flex: 1;
}

.errorContent {
  font-family: var(--ff-gilroy-medium);
  gap: var(--space-600);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
}

.linkRetry {
  border-radius: var(--radius-4);
  padding: var(--space-50) var(--space-600);
  background-color: var(--clr-royal-blue);
  text-decoration: none;
  color: var(--clr-white);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: spinner 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #f03355 96%, #0000) 50%
      0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #f03355 96%, #0000) 0 50%/80% 20%
      repeat-x;
}

.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}
