.shop {
  composes: bestProducts from '../best-products/BestProducts.module.css';
}

.subtitle {
  composes: subtitle from '../choose-us/ChooseUs.module.css';
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-1200) var(--space-800);
}

.decor {
  width: var(--space-600);
  height: var(--space-1100);
  background-color: var(--clr-fulvous);
}

.subtitleWrapper {
  display: flex;
  align-items:center;
  gap: var(--space-50);
}