.shop {
  /* composes: bestProducts from '../best-products/BestProducts.module.css'; */
   display: flex;
  flex-direction: column;
  gap: var(--space-1200);
  padding: var(--space-1100);
  max-width: var(--width-content);
  margin: auto;
}

.subtitle {
  /* composes: subtitle from '../choose-us/ChooseUs.module.css'; */
  font-family: var(--ff-gilroy-bold);
  font-size: var(--fs-800);
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: var(--space-1200) var(--space-600);
}

.decor {
  width: var(--space-600);
  height: var(--space-1100);
  background-color: var(--clr-saddle-brown);
}

.subtitleWrapper {
  display: flex;
  align-items:center;
  gap: var(--space-50);
}