

.cart {
  /* composes: bestProducts from '../best-products/BestProducts.module.css'; */
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
  padding: clamp(1rem, 0.571rem + 2.143vw, 2.5rem);
  max-width: var(--width-content);
  margin: auto;
}

.subtitleWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-50);
}

.decor {
  width: var(--space-600);
  height: var(--space-1100);
  background-color: var(--clr-saddle-brown);
}

.subtitle {
  /* composes: subtitle from '../choose-us/ChooseUs.module.css'; */
   font-family: var(--ff-gilroy-bold);
  font-size: var(--fs-800);
}

.emptyBag {
  font-size: var(--fs-600);
  font-weight: var(--fw-semibold);
}

.actionGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 25rem /* 400px */) {
  .actionGroup {
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-100);
  }
}

.cartSummary {
  display: flex;
  align-items: start;
  gap: var(--space-600);
}

@media (max-width: 36rem /* 576px */) {
  .cartSummary {
    flex-direction: column;
    align-items: stretch;
  }
}

.btnLayout {
  text-decoration: none;
  padding: var(--space-70) var(--space-600);
  border-radius: var(--radius-4);
  font-weight: var(--fw-semibold);
}

.linkShop {
  composes: btnLayout;
  color: var(--clr-white);
  background-color: var(--clr-black);
  text-align: center;
}

.linkShop:focus-visible {
  outline: 2px solid var(--clr-dark-gunmetal);
  outline-offset: 2px;
  border-radius: var(--radius-1);
}

.btnClear {
  composes: btnLayout;
  border: transparent;
  cursor: pointer;
  /* background-color: transparent; */
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.btnClear:focus-visible {
  outline: 2px solid var(--clr-dark-gunmetal);
  outline-offset: 2px;
  border-radius: var(--radius-1);
}

.visuallyHidden {
  /* composes: visuallyHidden from '../hero/Hero.module.css'; */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inputWrapper {
  display: flex;
  gap: var(--space-100);
  flex: 1;
}

@media (max-width: 60rem /* 960px */) {
  .inputWrapper {
    flex-direction: column;
  }
}

.coupon {
  padding: var(--space-50) var(--space-100);
}

.btnCoupon {
  composes: btnLayout;
  border: transparent;
  cursor: pointer;
  background-color: var(--clr-saddle-brown);
  color: var(--clr-white);
}

.btnCoupon:focus-visible {
  outline: 2px solid var(--clr-saddle-brown);
  outline-offset: 2px;
  border-radius: var(--radius-1);
}

.cartTotal {
  flex: 1;
  padding: var(--space-600);
  border: 1px solid var(--clr-black);
  border-radius: var(--radius-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.subheading {
  font-size: var(--fs-600);
}

.totalList {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.totalItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--fw-semibold);
}

.linkCheckout {
  composes: btnLayout;
  align-self: center;
  background-color: var(--clr-saddle-brown);
  color: var(--clr-white);
}

.linkCheckout:focus-visible {
  outline: 2px solid var(--clr-saddle-brown);
  outline-offset: 2px;
  border-radius: var(--radius-1);
}

.estTotal {
  font-family: var(--ff-gilroy-medium);
  font-size: var(--fs-600);
  color: var(--clr-saddle-brown);
}