.cart {
  /* composes: bestProducts from '../best-products/BestProducts.module.css'; */
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
  padding: clamp(1rem, 0.571rem + 2.143vw, 2.5rem);
  max-width: var(--width-content);
  margin: auto;
}

.subtitleWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-50);
}

.decor {
  width: var(--space-600);
  height: var(--space-1100);
  background-color: var(--clr-fulvous);
}

.subtitle {
  composes: subtitle from '../choose-us/ChooseUs.module.css';
}

.emptyBag {
  font-size: var(--fs-600);
  font-weight: var(--fw-semibold);
}

.actionGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartSummary {
  display: flex;
  align-items: start;
  gap: var(--space-600);
}

@media (max-width: 36rem /* 576px */) {
  .cartSummary {
    flex-direction: column;
    align-items: stretch;
  }
}

.btnLayout {
  text-decoration: none;
  padding: var(--space-70) var(--space-600);
  border-radius: var(--radius-4);
  font-weight: var(--fw-semibold);
}

.linkShop {
  composes: btnLayout;
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.btnClear {
  composes: btnLayout, btn from '../hero/Hero.module.css';
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.inputWrapper {
  display: flex;
  gap: var(--space-100);
  flex: 1;
}

@media (max-width: 52rem /* 832px */) {
  .inputWrapper {
    flex-direction: column;
  }
}

.coupon {
  padding: var(--space-50) var(--space-100);
}

.btnCoupon {
  composes: btnLayout, btn from '../hero/Hero.module.css';
  background-color: var(--clr-fulvous);
}

.cartTotal {
  flex: 1;
  padding: var(--space-600);
  border: 1px solid var(--clr-black);
  border-radius: var(--radius-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.subheading {
  font-size: var(--fs-600);
}

.totalList {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.totalItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--fw-semibold);
}

.linkCheckout {
  composes: btnLayout;
  align-self: center;
  background-color: var(--clr-fulvous);
  color: var(--clr-black);
}
