.chooseUs {
  padding: var(--space-1600) var(--space-1100);
  display: flex;
  gap: var(--space-800);
  max-width: var(--width-content);
  margin: auto;
}

@media (max-width: 62rem /* 992px */) {
  .chooseUs {
    flex-direction: column;
    gap: var(--space-800);
  }
}

.headingWrapper {
  flex: 1;
  display: flex;
  align-items: center;
}
@media (max-width: 62rem /* 992px */) {
  .headingWrapper {
    justify-content: center;
  }
}

.subtitle {
  font-family: var(--ff-gilroy-bold);
  font-size: var(--fs-800);
}

.cards {
  flex: 3;
  display: flex;
  justify-content: center;
  gap: var(--space-600);
}

@media (max-width: 48rem /* 768px */) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
  min-width: var(--min-width-card);
  max-width: var(--max-width-card);
}

@media (max-width: 36rem /* 576px */) {
  .card {
    align-items: center;
  }
}

.subheading {
  font-family: var(--ff-gilroy-bold);
  font-size: var(--fs-600);
}

.linkMore {
  display: flex;
  gap: var(--space-60);
  align-items: center;
  margin-block-start: auto;
  text-decoration: none;
  color: var(--clr-saddle-brown);

  font-family: var(--ff-gilroy-medium);
}

.inactive {
  pointer-events: none;
}
