.chooseUs {
  padding: var(--space-1600) var(--space-1100);
  display: flex;
  gap: var(--space-800);
  max-width: var(--width-content);
  margin: auto;
}

.headingWrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.subtitle {
  font-family: var(--ff-gilroy-bold);
  font-size: var(--fs-800);
}

.luxury,
.prices,
.choices {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.subheading {
  font-family: var(--ff-gilroy-bold);
  font-size: var(--fs-600);
}

.linkMore {
  display: flex;
  gap: var(--space-60);
  align-items: center;
  margin-block-start: auto;
  text-decoration: none;
  color: var(--clr-fulvous);
  font-family: var(--ff-gilroy-medium);
}
