.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-600);
  padding: var(--space-1350);
}

.contentWrapper {
  max-width: var(--width-hero-content);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-600);
}

.subtitle {
  font-family: var(--ff-gilroy-bold);
  line-height: 1.3;
  /* font-size: var(--fs-1600); */
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3.75rem);
  font-size: clamp(2.5rem, 2.143rem + 1.786vw, 3.75rem);
  color: var(--clr-white);
}

.description {
  color: var(--clr-white);
  font-size: var(--fs-500);
}

.search {
  padding: var(--space-150) var(--space-150) var(--space-150) var(--fs-600);
  border-radius: var(--radius-3);
  border: 1px solid var(--clr-white);
  width: var(--width-search-input);
  background-color: transparent;
}

::placeholder {
  color: var(--clr-white);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn {
  border: transparent;
  cursor: pointer;
  background-color: transparent;
}

.btnSearch {
  composes: btn;
  background-color: var(--clr-saddle-brown);
  position: absolute;
  /* top: var(--space-60); */
  top: 50%;
  transform: translateY(-50%);
  right: var(--space-30);
  /* right: 0; */
  border-radius: var(--radius-circle);
  padding: 2px;
}

.form {
  position: relative;
}
