.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-600);
  padding: var(--space-1350);
}

.contentWrapper {
  max-width: var(--width-hero-content);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-600);
}

.subtitle {
  font-family: var(--ff-gilroy-bold);
  line-height: 1.3;
  font-size: var(--fs-1600);
  color: var(--clr-white);
}

.description {
  color: var(--clr-white);
  font-size: var(--fs-500);
}

.search {
  padding: var(--fs-80) var(--fs-80) var(--fs-80) var(--fs-600);
  border-radius: var(--radius-3);
  border: 1px solid var(--clr-white);
  width: var(--width-search-input);
  background-color: transparent;
}

.btn {
  background-color: var(--clr-chestnut);
  border: transparent;
  border-radius: var(--radius-circle);
  position: absolute;
  top: var(--space-60);
  right: var(--space-70);
  cursor: pointer;
}

.form {
  position: relative;
}
