.backgroundWrapper {
  background: var(--clr-arsenic) url('../../assets/images/living-room.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--height-hero);
  width: 100%;
}
