.backgroundWrapper {
  background: var(--clr-arsenic) url('../../assets/images/living-room.jpeg');
  /* background-size: 100% 100%; */
  background-position: center;
  background-repeat: no-repeat;
  height: var(--height-hero);

  width: 100%;
  background-size: cover;
}