.card {
  height: 100%;
  font-family: var(--ff-inter);
  display: grid;
  grid-template-rows: 260px 1fr max-content;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding-block-end: var(--space-100);
  border-radius: var(--radius-2);
}

.imageWrapper {
  border-radius: var(--radius-2) var(--radius-2) 0 0;
  background-color: var(--clr-lotion);
  padding: var(--space-200);
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.contentWrapper {
  padding: var(--space-100);
  color: var(--clr-black);
}

.category {
  color: var(--clr-davys-grey);
  text-transform: capitalize;
}

.title,
.price {
  font-weight: var(--fw-semibold);
}

.rate {
  color: var(--clr-saddle-brown);
}

.dollar {
  vertical-align: super;
  font-size: var(--fs-200);
}

.buyWrapper {
  padding: 0 var(--space-100);
  display: grid;
  gap: var(--space-100);
}

.inputWrapper {
  display: flex;
  width: 100%;
}

.btnRemove {
  flex: 0 0 var(--space-1200);
  border: transparent;
  cursor: pointer;
  border-radius: var(--radius-1) 0 0 var(--radius-1);
  background-color: var(--clr-dark-gunmetal);
  padding: var(--space-60);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnAdd {
  flex: 0 0 var(--space-1200);
  border: transparent;
  cursor: pointer;
  border-radius: 0 var(--radius-1) var(--radius-1) 0;
  background-color: var(--clr-dark-gunmetal);
  padding: var(--space-60);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnRemove:focus-visible,
.btnAdd:focus-visible {
  outline: 2px solid var(--clr-dark-gunmetal);
  outline-offset: 2px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.quantity {
  text-align: center;
  flex: 1 1 0;
  border: 1px solid var(--clr-black);
  /* Add min-width to make input shrinkable */
  min-width: 0;
  font-weight: var(--fw-semibold);
  font-size: var(--space-600);
}

.quantity:focus-visible {
  outline: 3px solid var(--clr-true-blue);
  border-radius: var(--radius-1);
  border: transparent;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.btnSubmit {
  border: transparent;
  cursor: pointer;
  border-radius: var(--radius-1);
  background-color: var(--clr-dark-gunmetal);
  color: var(--clr-white);
  padding: var(--space-100) 0;
  font-weight: var(--fw-semibold);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-out;
}

.btnSubmit:hover {
  box-shadow: 5px 5px 0px 0px #a1d8ff, 10px 10px 0px 0px #cae6ff;
}

.btnSubmit:focus-visible {
  outline: 2px solid var(--clr-dark-gunmetal);
  outline-offset: 2px;
  border-radius: var(--radius-1);
}

.btnSubmit:active {
  transform: translate(5%, 20%);
  box-shadow: none;
}
