.card {
  height: 100%;
  font-family: var(--ff-inter);
  display: grid;
  grid-template-rows: 260px 1fr max-content;
}

.imageWrapper {
  border-radius: var(--radius-2);
  background-color: var(--clr-lotion);
  padding: var(--space-200);
}

.image {
  /* composes: image from '../best-products/BestProducts.module.css'; */
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.contentWrapper {
  padding: var(--space-100);
  color: var(--clr-black);
}

.category {
  /* composes: category from '../best-products/BestProducts.module.css'; */
  color: var(--clr-davys-grey);
  text-transform: capitalize;
}

.title,
.price {
  font-weight: var(--fw-semibold);
}

.rate {
  color: var(--clr-saddle-brown);
}

.dollar {
  /* composes: dollar from '../best-products/BestProducts.module.css'; */
   vertical-align: super;
  font-size: var(--fs-200);
}

.buyWrapper {
  padding: 0 var(--space-100);
  display: grid;
  gap: var(--space-60);
}

.inputWrapper {
  display: flex;
  width: 100%;
}

.btnRemove {
  flex: 0 0 var(--space-1200);
  /* composes: btn from '../hero/Hero.module.css'; */
  border: transparent;
  cursor: pointer;
  border-radius: var(--radius-1) 0 0 var(--radius-1);
  background-color: var(--clr-dark-gunmetal);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnAdd {
  flex: 0 0 var(--space-1200);
  /* composes: btn from '../hero/Hero.module.css'; */
  border: transparent;
  cursor: pointer;
  border-radius: 0 var(--radius-1) var(--radius-1) 0;
  background-color: var(--clr-dark-gunmetal);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnRemove:focus-visible,
.btnAdd:focus-visible {
  outline: 2px solid var(--clr-dark-gunmetal);
  outline-offset: 2px;
}

.quantity {
  text-align: center;
  flex: 1 1 0;
  border: 1px solid var(--clr-black);
  /* Add min-width to make input shrinkable */
  min-width: 0;
  font-weight: var(--fw-semibold);
  font-size: var(--space-600);
}

.quantity:focus-visible {
  outline: 3px solid var(--clr-true-blue);
  border-radius: var(--radius-1);
  border: transparent;
}

.visuallyHidden {
  /* composes: visuallyHidden from '../hero/Hero.module.css'; */
   position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.btnSubmit {
  /* composes: btn from '../hero/Hero.module.css'; */
  border: transparent;
  cursor: pointer;
  border-radius: var(--radius-1);
  background-color: var(--clr-dark-gunmetal);
  color: var(--clr-white);
  padding: var(--space-100) 0;
  font-weight: var(--fw-semibold);
}

.btnSubmit:focus-visible {
  outline: 2px solid var(--clr-dark-gunmetal);
  outline-offset: 2px;
  border-radius: var(--radius-1);
}
