.header {
  display: flex;
  flex-direction: column;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-white);
  padding: var(--space-400) clamp(1rem, 0.214rem + 3.929vw, 3.75rem);
}

@media (max-width: 36rem) {
  .headerContent {
    flex-direction: column;
    position: relative;
  }
}

.title {
  font-family: var(--ff-gilroy-bold);
}

.cartLink {
  text-decoration: none;
  display: flex;
  position: relative;
}

.cartLink:hover,
.cartLink:focus-visible {
  outline: 3px solid var(--clr-white);
  outline-offset: 3px;
  border-radius: var(--radius-1);
}

@media (max-width: 36rem /* 576px */) {
  .cartLink {
    position: absolute;
    top: var(--space-750);
    right: var(--space-1350);
  }
}

.noOfItems {
  color: var(--clr-white);
  background-color: var(--clr-saddle-brown);
  border-radius: var(--radius-circle);
  width: var(--space-350);
  height: var(--space-350);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-200);
  position: absolute;
  right: -3px;
  top: -1px;
  font-family: var(--ff-gilroy-bold);
}
