.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-white);
  padding: var(--space-400) var(--space-1600);
}

.title {
  font-family: var(--ff-gilroy-bold);
}

.navbarList {
  display: flex;
  gap: var(--space-800);
}

.navbarLink {
  padding: var(--space-100);
  text-decoration: none;
  color: var(--clr-white);
  font-family: var(--ff-gilroy-medium);
}

.active {
  background-color: var(--clr-dodger-blue);
  color: var(--clr-white);
  border-radius: var(--radius-1);
}

.inactive {
  pointer-events: none;
}
