.header {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
  gap: var(--space-400);
}

.navbar__link {
  text-decoration: none;
}

.active{
  background-color: var(--clr-dodger-blue);
  color: var(--clr-white);
}