.navbarList {
  display: flex;
  gap: clamp(0.5rem, 0.143rem + 1.786vw, 1.75rem);
}

.navItem {
  font-family: var(--ff-gilroy-bold);
}

.navbarLink {
  padding: clamp(0.313rem, 0.223rem + 0.446vw, 0.625rem);
  text-decoration: none;
  color: var(--clr-white);
  font-family: var(--ff-gilroy-bold);
}

.navbarLink:hover,
.navbarLink:focus-visible {
  outline: 3px solid var(--clr-white);
  outline-offset: 1px;
  border-radius: var(--radius-1);
}

.active {
  background-color: var(--clr-saddle-brown);
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
  border-radius: var(--radius-1);
}
