.footer {
  padding: var(--space-1350) var(--space-1350);
  background-color: var(--clr-cultured);
  color: var(--clr-eerie-black);
}

.contentWrapper {
  max-width: var(--width-footer);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
  font-family: var(--ff-gilroy-medium);
}

.footerPrimary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-1100);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  align-items: center;
  flex: 1;
  min-width: var(--min-width-card);
  max-width: var(--max-width-card);
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--space-800);
}

.subtitle {
  font-family: var(--ff-gilroy-bold);
}

.description {
  text-align: center;
}

.subheading {
  color: var(--clr-saddle-brown);
  font-family: var(--ff-dm-sans);
}

.footerListPrimary {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  align-items: center;
}


.footerLink {
  text-decoration: none;
  color: var(--clr-eerie-black);
  display: flex;
  gap: var(--space-400);
}

.footerLink:hover,
.footerLink:focus-visible {
  outline: 2px solid var(--clr-true-blue);
  outline-offset: 5px;
  border-radius: var(--radius-4);
}

.footerSecondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 36rem /* 576px */) {
  .footerSecondary {
    flex-direction: column;
    gap: var(--space-400);
  }
}

.footerListSecondary {
  display: flex;
  align-items: center;
  gap: var(--space-400);
}

@media (max-width: 36rem /* 576px */) {
  .footerListSecondary {
    flex-direction: column;
  }
}

.copyright {
  color: var(--clr-dark-gunmetal);
  font-family: var(--ff-dm-sans);
}

.inactive {
  pointer-events: none;
}
