.footer {
  padding: var(--space-1350) var(--space-1350);
  background-color: var(--clr-cultured);
  color: var(--clr-eerie-black);
}

.contentWrapper {
  max-width: var(--width-footer);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
  font-family: var(--ff-gilroy-medium);
}

.footerPrimary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--space-1600);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}
@media (max-width: 36rem /* 576px */) {
  .card {
    align-items: center;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--space-800);
}

.subtitle {
  font-family: var(--ff-gilroy-bold);
}

@media (max-width: 36rem /* 576px */) {
  .description {
    text-align: center;
  }
}

.subheading {
  color: var(--clr-fulvous);
  font-family: var(--ff-dm-sans);
}

.footerListPrimary {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}
@media (max-width: 36rem /* 576px */) {
  .footerListPrimary {
    align-items: center;
  }
}

.footerLink {
  text-decoration: none;
  color: var(--clr-eerie-black);
  display: flex;
  gap: var(--space-400);
}

.footerSecondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 36rem /* 576px */) {
  .footerSecondary {
    flex-direction: column;
    gap: var(--space-400);
  }
}

.footerListSecondary {
  display: flex;
  align-items: center;
  gap: var(--space-400);
}

@media (max-width: 36rem /* 576px */) {
  .footerListSecondary {
    flex-direction: column;
  }
}

.copyright {
  color: var(--clr-dark-gunmetal);
  font-family: var(--ff-dm-sans);
}

.inactive {
  pointer-events: none;
}
