.bestProducts {
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
  padding: var(--space-1100);
  max-width: var(--width-content);
  margin: auto;
}

.subtitle {
   /* composes: subtitle from '../choose-us/ChooseUs.module.css'; */
  text-align: center;
  font-family: var(--ff-gilroy-bold);
  font-size: var(--fs-800);
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-600);
}

@media (max-width: 48rem /* 768px */) {
  .productList {
    gap: var(--space-1600);
  }
}

.product {
  font-family: var(--ff-inter);
  flex: 1;
  min-width: var(--min-width-card);
  max-width: var(--max-width-card);
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: var(--space-400);
}

.card {
  text-decoration: none;
  display: grid;
  grid-template-rows: 225px 1fr;
  pointer-events: none;
}

.imageWrapper {
  background-color: var(--clr-lotion);
  padding: var(--space-200) 0;
  border-radius: var(--radius-2);
}

.contentWrapper {
  padding: var(--space-100) var(--space-100) 0;
  color: var(--clr-black);
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.category {
  color: var(--clr-davys-grey);
  text-transform: capitalize;
}

.title,
.price {
  font-weight: var(--fw-semibold);
}

.price {
  font-size: var(--fs-600);
}

.rate {
  color: var(--clr-saddle-brown);
}

.dollar {
  vertical-align: super;
  font-size: var(--fs-200);
}

.buyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-100);
}

.btnAdd {
  /* composes: btn from '../hero/Hero.module.css'; */
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  border-radius: var(--radius-circle);
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.btnAdd:focus-visible {
  outline: 2px solid var(--clr-black);
  outline-offset: 2px;
}

.linkMore {
  /* composes: linkMore from '../choose-us/ChooseUs.module.css'; */
  display: inline-flex;
  gap: var(--space-60);
  align-items: center;
  margin-block-start: auto;
  text-decoration: none;
  color: var(--clr-saddle-brown);
  justify-content: center;
  padding: var(--space-400);
  font-family: var(--ff-gilroy-medium);
}

.loaderWrapper {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  mask: conic-gradient(from 15deg,#0000,#000);
  animation: spinner 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #f03355 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #f03355 96%,#0000) 0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes spinner {
  100% {transform:rotate(1turn)}
}
