.bestProducts {
  display: flex;
  flex-direction: column;
  gap: var(--space-1200);
  padding: var(--space-1100);
  max-width: var(--width-content);
  margin: auto;
}

.subtitle {
  text-align: center;
  composes: subtitle from '../choose-us/ChooseUs.module.css';
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-600);
}

@media (max-width: 48rem /* 768px */) {
  .productList {
    gap: var(--space-1600);
  }
}

.product {
  font-family: var(--ff-inter);
  flex: 1;
  min-width: var(--min-width-card);
  max-width: var(--max-width-card);

  display: grid;
  grid-template-rows: 1fr max-content;
  gap: var(--space-400);
}

.card {
  text-decoration: none;
  display: grid;
  grid-template-rows: 225px 1fr;
}

.imageWrapper {
  background-color: var(--clr-lotion);
  padding: var(--space-200) 0;
  border-radius: var(--radius-2);
}

.contentWrapper {
  padding: var(--space-100) var(--space-100) 0;
  color: var(--clr-black);
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.category {
  color: var(--clr-davys-grey);
  text-transform: capitalize;
}

.title,
.price {
  font-weight: var(--fw-semibold);
}

.price {
  font-size: var(--fs-600);
}

.rate {
  color: var(--clr-saddle-brown);
}

.dollar {
  vertical-align: super;
  font-size: var(--fs-200);
}

.buyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-100);
}

.btnAdd {
  composes: btn from '../hero/Hero.module.css';
  border-radius: var(--radius-circle);
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.linkMore {
  composes: linkMore from '../choose-us/ChooseUs.module.css';
  justify-content: center;
  padding: var(--space-400);
}
