/* ===================
   JOSH COMEAU'S RESET 
   =================== */
   
/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
	min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

/* ===================
   END OF RESET 
   =================== */

@font-face {
  font-family: 'Gilroy Bold';
  src: url(./assets/fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url(./assets/fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url(./assets/fonts/gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: 'DM Sans';
  src: url(./assets/fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: 'Eagle Horizon';
  src: url(./assets/fonts/eagle-horizon/EagleHorizonP.ttf);
}


/* ===================
   CSS VARIABLES
   =================== */

:root {
	/* Font Size */
  --fs-80: 0.5rem; /* 8px */
  --fs-200: 0.75rem; /* 12px */
  --fs-250: 0.8125rem; /* 13px */
  --fs-300: 0.875rem; /* 14px */
  --fs-350: 0.9375rem; /* 15px */
  --fs-400: 1rem; /* 16px */
  --fs-450: 1.0625rem; /* 17px */
  --fs-500: 1.125rem; /* 18px */
  --fs-550: 1.1875rem; /* 19px */
  --fs-600: 1.25rem; /* 20px */
  --fs-625: 1.3125rem; /* 21px */
  --fs-650: 1.375rem; /* 22px */
  --fs-675: 1.4375rem; /* 23px */
  --fs-700: 1.5rem; /* 24px */
  --fs-750: 1.625rem; /* 26px */
  --fs-800: 1.75rem; /* 28px */
  --fs-850: 1.875rem; /* 30px */
  --fs-900: 2rem; /* 32px */
  --fs-950: 2.125rem; /* 34px */
  --fs-1000: 2.25rem; /* 36px */
  --fs-1050: 2.375rem; /* 38px */
  --fs-1100: 2.5rem; /* 40px */
  --fs-1600: 3.75rem; /* 60px */

  /* Spaces */
  --space-30: 0.1875rem;
  --space-40: 0.25rem;
  --space-50: 0.3125rem;
  --space-60: 0.375rem;
  --space-70: 0.4375rem;
  --space-80: 0.5rem;
  --space-100: 0.625rem;
  --space-150: 0.6875rem;
  --space-200: 0.75rem;
  --space-250: 0.8125rem;
  --space-300: 0.875rem;
  --space-350: 0.9375rem;
  --space-400: 1rem;
  --space-450: 1.0625rem;
  --space-500: 1.125rem;
  --space-550: 1.1875rem;
  --space-600: 1.25rem;
  --space-625: 1.3125rem;
  --space-650: 1.375rem;
  --space-675: 1.4375rem;
  --space-700: 1.5rem;
  --space-725: 1.5625;
  --space-750: 1.625rem;
  --space-800: 1.75rem;
  --space-850: 1.875rem;
  --space-900: 2rem;
  --space-950: 2.125rem;
  --space-1000: 2.25rem;
  --space-1050: 2.375rem;
  --space-1100: 2.5rem; /* 40px */
  --space-1150: 2.625rem; /* 42px */
  --space-1200: 2.75rem; /* 44px */
  --space-1350: 3.125rem; /* 50px */
  --space-1600: 3.75rem; /* 60px */

  --height-hero: 43.75rem; /* 700px */
  --width-hero-content: 47.5rem; /* 760px */
  --width-search-input: 15.625rem; /* 250px */
  --width-search-input: clamp(16.875rem, 16.339rem + 2.679vw, 18.75rem);
  --height-product: 26.25rem;  /* 420px ; */
  --width-content: 75rem; /* 1200px */
  --width-footer: 62.5rem; /* 1000px */
  --width-error-message: 21.875rem; /* 350px */
  --min-width-card: 13.75rem; /* 220px */
  --max-width-card: 18.75rem; /* 300px */
  
  
  /* Font weights */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  --fw-extra-black: 950;

  /* Font families */
  --ff-gilroy-bold: 'Gilroy Bold';
  --ff-gilroy-medium: 'Gilroy Medium';
  --ff-gilroy-regular: 'Gilroy Regular';
  --ff-inter: Inter;
  --ff-dm-sans: 'DM Sans';
  --ff-eagle-horizon: 'Eagle Horizon';

  
  /* Colors */
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-red: #ff0000;
  --clr-green: hsl(120, 100%, 25%);
  --clr-true-blue: #055FCC;
  --clr-royal-blue: #424EDE;

  --clr-light-sky-blue: #95CDFD;
  --clr-arsenic: #374244;
  /* --clr-fulvous: #E58411; */
  --clr-saddle-brown: #883E0C;
  --clr-lotion: #FAFAFA;
  --clr-davys-grey: #595959;
  --clr-cultured: #F7F7F7;
  --clr-eerie-black: #1E1E1E;
  --clr-dark-gunmetal: #1E2833;
  --clr-ateneo-blue: #013E67;
  
  
  /* Utilities */
  --radius-1: 0.3125rem; /* 5px */
  --radius-2: 0.625rem; /* 10px */
  --radius-3: 2.625rem; /* 42px */
  --radius-4: 0.1875rem; /* 3px */
  --radius-circle: 50%;
  --shadow-1: 0px 5px 10px 0px hsla(0, 0%, 0%, 0.36);
  --shadow-2: 5px 5px 10px hsla(0, 0%, 0%, 0.5);
  --shadow-3: 0px 3px 5px 0px hsla(0, 0%, 0%, 0.25);
}

#root {
  font-family: var(--ff-gilroy-regular);
}

.page {
  display: flex;
  flex-direction: column;
  
  min-height: 100svh;
}

