.table {
  display: flex;
  flex-direction: column;
  gap: var(--space-600);
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: var(--space-600);
}

/* Display cart items in grid layout for small screens */
@media (max-width: 62rem /* 992px */) {
  .tableBody {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--space-600);
  }
}

.tableRow {
  display: flex;
  align-items: center;
  padding: var(--space-600) var(--space-1200) var(--space-600) var(--space-800);
  font-family: var(--ff-gilroy-medium);
  gap: var(--space-600);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: var(--radius-4);
}

@media (max-width: 62rem /* 992px */) {
  .tableRow {
    display: grid;
    grid-template-rows: 1fr;
    gap: var(--space-200);
    justify-items: start;
    align-items: start;
  }
}

.product {
  flex: 5;
  display: flex;
  align-items: center;
  gap: var(--space-800);
}

@media (max-width: 62rem /* 992px */) {
  .product {
    width: 100%;
    display: grid;
    justify-items: center;
  }
}

.deleteBtn {
  border: 1px solid var(--clr-dark-gunmetal);
  padding: var(--space-60);
  border-radius: var(--radius-4);
  cursor: pointer;
  background-color: transparent;
  flex: 0 0 var(--space-1200);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 62rem /* 992px */) {
  .deleteBtn {
    justify-self: start;
  }
}

.imageTitleWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-800);
}

@media (max-width: 62rem /* 992px */) {
  .imageTitleWrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 150px max-content;
  }

  .image {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.price,
.noOfItems,
.subTotal {
  flex: 1;
}

.inputWrapper {
  display: flex;
  border: 1px solid var(--clr-black);
}

@media (max-width: 62rem /* 992px */) {
  .inputWrapper {
    justify-content: start;
  }
}

.btnQuantity {
  flex: 0 0 var(--space-1200);
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  padding: var(--space-60);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide label for quantity input field */
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.quantity {
  border: transparent;
  border-inline-start: 1px solid var(--clr-black);
  border-inline-end: 1px solid var(--clr-black);
  width: var(--space-1200);
  text-align: center;
}

/* Remove number input arrows */
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  appearance: none;
}

.subTotal {
  color: var(--clr-saddle-brown);
  text-align: right;
}

