.table {
  display: flex;
  flex-direction: column;
  gap: var(--space-600);
}

.tableHeading {
  font-family: var(--ff-gilroy-medium);
}

@media (max-width: 62rem /* 992px */) {
  .tableHead {
    display: none;
  }
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: var(--space-600);
}

@media (max-width: 62rem /* 992px */) {
  .tableBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-600);
}
}

.tableRow {
  display: flex;
  align-items: center;
  padding: var(--space-600) var(--space-1200);
  /* padding-inline-start: var(--space-1600); */
  font-family: var(--ff-gilroy-medium);
  gap: var(--space-600);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: var(--radius-4);
}

@media (max-width: 62rem /* 992px */) {
 .tableRow {
  align-items: start;
  padding-inline-start: var(--space-800);
  display: grid;
  grid-template-rows: 1fr;
  gap: var(--space-80);
 }
}

.product {
  flex: 5;
}

.price,
.subTotal {
  flex: 1;
}

.noOfItems {
  flex: 1;
}

.tableHeading,
.tableCell {
  display: flex;
}

.imageTitle {
  flex: 5;
  display: flex;
  align-items: center;
  gap: var(--space-400);
}

@media (max-width: 62rem /* 992px */) {
  .imageTitle {
    display: grid;
    grid-template-rows: 100px max-content;
  }
}

@media (max-width: 62rem /* 992px */) {
  .image {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

}

.subTotal {
  color: var(--clr-saddle-brown);
  display: flex;
  justify-content: end;
}

@media (max-width: 62rem /* 992px */) {
  .subTotal {
    display: block;
  }
}

.inputWrapper {
  display: flex;
  border: 1px solid var(--clr-black);
}

.btnQuantity {
  /* composes: btn from '../hero/Hero.module.css'; */
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 6px;
}

.visuallyHidden {
  composes: visuallyHidden from '../hero/Hero.module.css'
}

.quantity {
  border: transparent;
  border-inline-start: 1px solid var(--clr-black);
  border-inline-end: 1px solid var(--clr-black);
  width: var(--space-1200);
  text-align: center;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  appearance: none;
}


